*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: mediumseagreen;
  font-family: Montserrat, seriff;
}
/*
  header begins here
*/
.container>header {
  color: #fff;
  margin: 1em auto;
}


@media only screen and (max-width: 600px) {
    /*
      Extra small device (Portrait Phones)
    */
.col-xs-1 {
  width: 8.33%;
}
.col-xs-2 {
  width: 16.66%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-4 {
  width: 33.33%;
}
.col-xs-5 {
  width: 41.66%;
}
.col-xs-6 {
    width: 50%;
}
.col-xs-7 {
  width: 58.33%;
}
.col-xs-8 {
  width: 66.66%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-10 {
  width: 83.33%;
}
.col-xs-11 {
  width: 91.66%;
}
.col-xs-12 {
  width: 100%;
}

.container>header>nav {
display: flex;
justify-content: space-between;
background-color: #c1c1c1;
}
.container>header>nav>div.leftNav>a {
  display: inline-block;
  padding: 1em;
  text-decoration: none;
}
.container>header>nav>div.rightNav>a {
  display: inline-block;
  height: 51px;
  line-height: 51px;
}
.container>header>nav>div.rightNav>a>i {
  height: inherit;
  line-height: inherit;
  padding-left: 1em;
  padding-right: 1em;
  display:block;
  box-sizing: content-box;
}
body>.container>main>img {
  margin: 0 auto;
  display: block;
  height: auto;
}
body>.container>main>article {
  margin: 2em auto;
  text-align: center;
}
body>.container>main>article>h3, body>.container>main>article>p {
  margin-bottom: 1em;
}
body>.container>main>article>button {
  border: none;
  border-radius: 10px;
  margin: 0;
}
body>.container>main>article>button>a {
  text-decoration: none;
  display: block;
  padding: 1em 1em 1em 1em;
  background-color: red;
  border-radius: 10px;
}
body>.container>main>article>button>a>i {
  padding-right: 1em;
}

}
