@mixin grid-width ($col-span){
  width: (100% / $grid-columns) * $col-span;
}

@mixin transform($move-to, $type, $initial-value, $custom-value, $final-value ) {
  @keyframes move-#{$move-to} {
    0% {
      opacity: 0;
      #{$type}: $initial-value;
    }
    80% {
      #{$type}: $custom-value;
    }
    100% {
      opacity: 1;
      #{$type}: $final-value;
    }
  }
}

@include transform(right, transform, translateX(-150px),  translateX(20px), translateX(0) );

@include transform(top-right, transform, translate(-150px, 150px),  translate(20px, -20px), translate(0, 0) );

@include transform(left, transform, translateX(150px),  translateX(-20px), translateX(0) );

@include transform(top, transform, translateY(150px),  translateY(-20px), translateY(0) );

@include transform(top-small, transform, translateY(0px),  translateY(-10px), translateY(-10px) );
