
* {
  color: #fff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: block;
  padding: $padding;
  &:hover {
    color: complement($primary-color);
  }
}

h2, h3, p, article, main {
  margin-bottom: 2em;
}
