.heading-primary {
    font-size: 3rem;
    display: inline-block;
    line-height: 4.3rem;
    height: 4.3rem;
}
.heading-secondary {
    font-size: 2.5rem;
    display: inline-block;
    line-height: 3.5rem;
}
.heading-tertiary {
    font-size: 1.8rem;
    display: inline-block;
    line-height: 3rem;
}
