/*
  * Wordsudy Website
*/

@import 'variables';
@import 'reset';
@import 'mixins';
html {
  @include respond ($mobile-port);
}
body {
  background-color: $primary-color;
  background-image: linear-gradient(to bottom right, $primary-color, complement($primary-color));
  font-family: Montserrat, sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
 
}
#container {
  @include grid-width($col-span: 11);
  margin: 1em auto 0;
  
}
header {
  background-color: $primary-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  position: sticky;
  top:0;
  width: 100%;
  nav {
    &:hover ul {
      background-color: $secondary-color;
      width: 100%;
      right: 0;
    }
    i {
      padding: $padding;
      font-size: 19px;
    }

  }
  ul {
    margin-top: 1px;
    position: absolute;
    overflow: hidden;
    top: 39px;
    width: 0;
    right: 0;
    transition: .5s ease;
    flex-direction: column;
  }
  li {
    width: 100%;
    border-top: 1px solid #fff;
    text-align: center;
    &:first-child {
      border-top: none;
    }
  }
}



/*
  *section-nav
*/
section {
  
  nav {
    margin-bottom: 1em;
  }
  .top-section {
    margin: 0 auto 5em;
    background-color: orange; 
  }
}
  .bottom-section {
    background-color: green;
    
    @include respond(mobile-port) {
      //position: relative;
      //top: 0;
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      
    }
  }
  aside{
    @include respond(mobile-port) {
      
      justify-content: center;
      align-items: center;
      align-content: center;
      display: flex;
    }
    background-color: blue;    
  }
  #social-list {
    @include respond(mobile-port) {
      flex-direction: column;
    height: 8em;
    justify-content: space-around;
    
      }
    }
  
  .social-item {
    animation: move-top-right .1s ease;
    animation-fill-mode: backwards;
    margin: 0;
    &:first-child {
      animation-delay: .2s;
    }
    &:nth-child(2) {
      animation-delay: .4s;
    }
    &:nth-child(3) {
      animation-delay: .6s;
    }
    a {
      padding: 0;
      margin: 0 0 0 .75em;
    }
    i {
      padding: .35em .3em;
      box-sizing: content-box;
    }

  }


.main-section {
  width: 80%;
  display: inline-block;
  margin: auto;
    

  @include respond(mobile-port) {
    
  }
  @include respond(tablet-port) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;

  }

}
#phone-box {
  background-color: red;

  @include respond(tablet-port) {
    flex-basis: 40%;
  }
}
#phone-image {
  width: 48%;
  height: auto;
  max-height: 220px;
  margin: auto;
  margin-bottom: 1.5em;
  display: block;
  box-shadow: inset -1px 2px 2px 1px #ccc;
  border-radius: 25px;
  animation: move-right .3s ease;
  animation-fill-mode: backwards;
  @include respond(mobile-port) {
    width: 50%;
    max-width: 200px;
    max-height: 280px;
  }
  @include respond(tablet-port) {
    width: 80%;
  }

}
article {
  background-color: red;
  margin: auto;
  text-align: left;

  @include respond(tablet-port) {
    margin: 0;
    width: 55%;
    display: inline-block;

  }
  h2, h3 {
    animation: move-left .4s ease .5s;
    animation-fill-mode: backwards;
  }
  h3 {
    margin-bottom: 1em;
  }
  p {
    animation: move-right .4s ease .2s;
    animation-fill-mode: backwards;
  }
  ul {
    justify-content: space-between;
    margin: auto;
    flex-direction: column;
    align-items: center;
    height: 90px;
    align-content: space-between;
    @include respond(mobile-land) {
      flex-direction: row;
      justify-content: space-around;
      width: 80%;
    }
    @include respond (tablet-port) {
      width: 100%;
      max-width: 400px;
      text-align: left;
      justify-content: space-between;
      margin: 0;
    }

  }
  li {
    animation: move-top .3s ease;
    animation-fill-mode: backwards;
    width: 85%;
    max-width: 180px;
    @include respond(mobile-port) {
      width: 50%;
    }
    @include respond(mobile-land) {
      width: 45%;
    }
    @include respond (tablet-port) {
      width: 47%;
    }

    &:first-child {
      animation-delay: .6s;
    }
    &:nth-child(2) {
      animation-delay: .7s;
    }
  }
  a {
    text-align: center;
    border-radius: 50px;
    background-size: 16px;
    -webkit-background-size: 16px;
    -ms-background-size: 16px;

    background-repeat: no-repeat;
    background-position: 9% 50%;

    &[data-download*="google"]{
      background-image: url("../assets/google-play.png");

    }
    &[data-download*="soon"]{
      background-image: url("../assets/apple.png");

    }
  }
}
footer {
  background-color: complement($primary-color);
  display: flex;
  align-items: center;
  height: 50px;
  small {
    margin: auto;
  }
  @include respond (mobile-port) {
    
  }
}
