*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;  
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
body {
  width: 100%;
  background-color: mediumseagreen;
  font-family: Montserrat, seriff;
}
/*
  header begins here
*/
.container>header {
  color: #fff;
  margin: 1em auto;
  background-color: red;
  position: relative;
}
.container>header p {
  font-size: 1.5em;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  font-family: Montserrat, Arial, sans-serif;
}
.container>header p, .container>header section.header_right{
  background-color: mediumorchid;
  display: inline-block;
}
.container>header section.header_right {
  right: 0px;
  position: absolute;
  text-align: right;
  font-family: Raleway, serif;
  font-weight: normal;
}
.container>header section.header_right span, .container>header section.header_right>a {
  margin-left: 1.5em;
}
.container>header section.header_right a:link, .container>header section.header_right a:visited  {
  color: inherit;
  text-decoration: none;
}
.container>header section.header_right>a:hover, .container>header section.header_right>a:active  {
  color: tomato;
  text-decoration: none;
}
.container>header section.header_right  i{
box-sizing: content-box;
padding-left: 5px;
padding-right: 5px;
height: 30px;
line-height: 30px;
}

/*
 section class="main_content" begins here 
*/

.container>main.main_content {
  margin: 5em auto 0px;
  color: #fff;
  background-color: tomato;
  position: relative;
  height: 470px;
  overflow: hidden;
}
.container>main>aside, .container>main>article {
  display: inline-block;
}
.container>main>aside {
  background-color: dodgerblue;  
}
.container>main>img{
  display: block;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.container>main>article {
  background-color: violet;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
}
.container>main>article>p {
  line-height: 1.5;
}
.container>main>article>p, .container>main>article>div.button {
  width: 90%;
  margin: 2em auto 0em;
  background-color: #000;
  font-family: Montserrat, seriff;
}
.container>main>article p:first-child {
  font-size: 2em;
}
.container>main>article p.p3{
  margin-top: 4em;
}
.container>main>article>p>a {
  text-decoration: none;
  padding-right: 1.25em;
  margin-right: 1.25em;
  display: inline-block;
  background-color:#fff;
  border-radius: 1.25em;
  color: #000;
}
.container>main>article>p>a:hover {
  background-color: #555;
  color: #fff;
}
.container>main>article>p>a>i {
  padding: 1em 0.625em 1em 1.25em;
}

